body{
    background-image: url("https://img.freepik.com/free-photo/empty-modern-room-with-furniture_23-2149178345.jpg?size=626&ext=jpg&ga=GA1.2.24084656.1676008246&semt=ais");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.box{
    background-color: rgba(0,0,0);
    width: 370px;
    height: 350px;
    margin: auto;
    position: relative;
    border-radius: 40px 5px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 350px;
    background: linear-gradient(60deg, transparent, rgb(172, 170, 27),rgb(172, 170, 27));
    transform-origin: bottom right;
    animation: anim 5s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 370px;
    height: 350px;
    background: linear-gradient(60deg, transparent, rgb(172, 170, 27),rgb(172, 170, 27));
    transform-origin: bottom right;
    animation: anim 5s linear infinite;
    animation-delay: -3s;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
form{
    position: absolute;
    inset: 2px;
    border-radius: 50px 5px;
    background-color: black;
    z-index: 10;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: goldenrod;
}
input{
    background-color: black !important;
    border: 2px solid goldenrod !important;
    border-radius: 10px !important;
    margin: 10px 2px;
}
input:focus{
    background-color: rgba(0,0,0,0.5) !important;
    color: white !important;
}
@media only screen and (min-width:768px) and(min-width:991px){
    .box{
        width : 350px;
        height: 330px;
    }
    form{
        width : 320px;
        height : 300px;
        padding: 30px;
    }
}
@media only screen and (max-width:767px){
    .box{
        width : 350px;
        height: 330px;
    }
    form{
        width: 320px;
        height: 300px;
        padding: 30px;
    }
}
@media only screen and (max-width: 450px){
    .box{
        width : 300px;
        height: 320px;
    }
    form{
        padding: 30px;
    }
    body{
        background-image: url("https://cdn.pixabay.com/photo/2022/03/02/10/58/flowers-7042890_640.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

