*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: #f1fbff;
}
.container{
    width: 100%;
}
.icon{
    width: 150px;
    height: 40px;
}
#name{
    margin: 2px;
    border-bottom: 2px solid goldenrod;
    border-top: 2px solid goldenrod;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
/*NAVBAR */
.nav-item>a:hover{
    color: rgb(255, 184, 4) !important;
    text-decoration: underline;
}

.section-padding{
    padding: 100px 0;
}
.team .card-body i{
    font-size: 20px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2px;
}
.section-header >h2{
    border-bottom: 2px solid goldenrod;

}
.btn{
    width: 100%;
    margin:1px;
    border-radius: 30px !important;
}
@media only screen and (max-width:767px){
     .navbar-nav{
        text-align: center;
    } 
    .navbar{
        width: 100%;
    } */
    .icon{
        width: 200px;
    }
} 
@media only screen and (min-width:768px) and(min-width:991px){
    .card{
        margin-bottom: -30px;
        width: 100%;
    }
    
}
@media only screen and (max-width:767px){
    .card{
        margin-bottom: 30px;
        width: 380px;
    }
    .navbar{
        width: 420px;
    }
    .section-header{
        width: 380;
    }
}
#contact{
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.bi{
    width: 40px;
    height: 40px;
    padding: 10px;
    color: white;
    border-radius: 50%;
}
.bi-youtube{
    background-color: red;
}
.bi-pinterest{
    background-color: red;
}
.bi-instagram{
    background-color: palevioletred;
}
.bi-twitter{
    background-color: aquamarine;
}
.bi-facebook{
    background-color: rgb(41, 160, 207);
}
.bi-envelope-open-fill{
    background-color: red;
}
.bi-whatsapp{
    background-color: green;
}
.bi-telephone-fill{
    background-color: green;
}
